@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
* {
	margin: 0px;
	padding: 0px;
	font-family: 'Inter', sans-serif;
	border:  none;
}
body {
	background: black;
}
h2 {
	color:white;

}
.container {
	width: 700px;
	height: 400px;
	margin: auto;
	margin-top: 100px;
	
	padding: 20px;
	border-radius: 20px;
	background: #121212;

}
.filteri {
	display: inline-block;
	width: 300px;

	position: relative;
	top: -0px;
}
.filteri button, input {
	width: 110px;
	height: 30px;
	margin: 5px;
	
}
.filteri .filter-options button.active {
	background: #0080ff;
	color: white;
}
input[type="range"] {
	width: 220px;
}
button.rt-fl {
	width: 47px;
}
.slika {
	display: inline-block;
	position: relative;
	text-align: center;
	width: 50%;
}
canvas {
	display: inline-block;
	position: relative;
	text-align: center;
	width: 50%;
	max-width: 370px;
	max-height: 250px;
}
.slika img {
	max-width: 370px;
	max-height: 250px;
}
.ph-import {
	float: right;
	position: relative;
	top: 30px;
}
.ph-import button { 
	width: 110px;
	height: 30px;

}
.ph-import button#rs-filters {
	position: relative;
	right: 360px;
	background: red;
	color: white;
}
#save {
	background: #00fa21;
	color: white;
}

button {
	border-radius: 5px;
}